@using Microsoft.AspNetCore.Identity
@using PhuKienDienThoai.Models
@using PhuKienDienThoai.Models.SanPhamViewModels;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (SignInManager.IsSignedIn(User))
{
   
    <ul class="nav navbar-nav">
        @{
            var soluonghangtronggio = 0;
            var stringList = HttpContextAccessor.HttpContext.Session.GetString("GioHang");
            if (!string.IsNullOrEmpty(stringList)) {
                var ListItemTrongGioHang = new List<GioHangViewModel>();
                ListItemTrongGioHang = JsonConvert.DeserializeObject<List<GioHangViewModel>>(stringList);
                soluonghangtronggio = ListItemTrongGioHang.Sum(x => x.SoLuong);  
            }

            var userRole = "Users";
            if(User.IsInRole("Admin"))
            {
                <li> 
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang quản trị</a>
                </li>
                <li>
                    <a is-active-route asp-area="Users" asp-controller="TaiKhoan" asp-action="Index"> <i class="fa fa-user" aria-hidden="true"></i> Tài khoản</a>
                </li> 
                <li>
                    <a asp-controller="GioHang" asp-area="" asp-action="Index"><i class="fa fa-shopping-cart"></i> Giỏ hàng của tôi (<b>@soluonghangtronggio</b>)</a>
                </li>
            }
            else if(User.IsInRole("Giao Hàng"))
            {
                <li> 
                    <a asp-area="GiaoHang" asp-controller="Home" asp-action="ChuaGiao">Giao Hàng</a>
                </li>
            }
            else
            {
                <li>
                    <a is-active-route asp-area="Users" asp-controller="TaiKhoan" asp-action="Index"> <i class="fa fa-user" aria-hidden="true"></i> Tài khoản</a>
                </li>   
                <li>
                    <a asp-controller="GioHang" asp-area="" asp-action="Index"><i class="fa fa-shopping-cart"></i> Giỏ hàng của tôi (<b>@soluonghangtronggio</b>)</a>
                </li>  
            }   
        }
        <li>
            <a onclick="$('#frm_Logout').submit();" id="btnLogout" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
        </li>
    </ul>
    <form asp-area="" id="frm_Logout" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right"></form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" is-active-route asp-controller="Account" asp-action="Register">Đăng kí</a></li>
        <li><a asp-area="" is-active-route asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
    </ul>
}