@model RegisterViewModel
@{
    ViewData["HeadTitle"] = "Đăng kí tài khoản thành viên tại Phụ Kiện Điện Thoại";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <form id="frm_register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Đăng kí tài khoản thành viên mới</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen"></label>
                <input id="HoTen" asp-for="HoTen" class="form-control">
            </div>
            <div class="row"> 
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber"></label>
                    <input id="PhoneNumber" asp-for="PhoneNumber" class="form-control">
                     <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="GioiTinh"></label>
                    <select class="form-control" asp-for="GioiTinh" name="GioiTinh" id="GioiTinh">
                        <option value="true" selected>Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="NgaySinh"></label> (tháng/ngày/năm)
                    <input asp-for="NgaySinh" class="form-control" type="date" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DiaChi"></label>
                    <input asp-for="DiaChi" class="form-control" type="text">
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" id="btnFromsubmit" class="btn btn-default">Đăng kí</button>
        </form>
    </div>
</div>