@{
    ViewData["HeadTitle"]="bảng điều khiển";
}
@model PhuKienDienThoai.Areas.Admin.Models.DashBoardViewModel
<section class="content-header">
    <h1>
        Bảng điều khiển
        <small>Admin Panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.TongSoKhachHang</h3>

                    <p>Tổng khách hàng</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.TongDoanhThuTrongThang.ToString("#,0")
                        <sup style="font-size: 20px">đ</sup>
                    </h3>

                    <p>Tổng doanh thu trong tháng</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.TongSoLuongSanPham</h3>

                    <p>Tổng số lượng sản phẩm</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="#" class="small-box-footer">More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
   
</section>
<!-- /.content -->