@model ApplicationUser

<form asp-action="ThanhToanHoaDon" asp-controller="GioHang" method="post">
    <div class="form-group">
        <label for="frmThanhToan_diaChi">Địa chỉ</label>
        <input type="text" id="frmThanhToan_diaChi" class="form-control" name="DiaChi" value="@Model.DiaChi">
    </div>
    <div class="form-group">
        <label for="frmThanhToan_ghiChu">Ghi chú</label>
        <textarea name="GhiChu" id="frmThanhToan_ghiChu" cols="30" rows="4" maxlength="500"></textarea>
    </div>
    <div class="form-group">
        <label for="frmThanhToan_phuongThuc">Chọn phương thức thanh toán</label><br/>
        <button class="btn btn-default check_out" type="submit">Thanh toán trực tiếp</button><br/><br/>
        <div id="paypal-button"></div><br/>
        <a href="#" id="btnbaokim"><img src="~/images/components/BAOKIM.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn" ></a>
    </div>
    <hr/>
</form>